
body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  display: inline;
}

.row {
  color: white;
  margin-left: 25px;
  margin-right: 25px;
  height: 300px;
  border-radius: 12px;

}

.column1 {
  background-color: hsl(31, 77%, 52%);
  float: left;
  width: 33.33%;
  height: 300px;

}

.column2 {
  background-color: hsl(184, 100%, 22%);
  float: left;
  width: 33.33%;
  height: 300px;
}

.column3 {
  background-color: hsl(179, 100%, 13%);
  float: left;
  width: 33.33%;
  height: 300px;
}

.button1 {
  text-align: center;
  border-radius: 12px;;
  width: 140px;
  height: 40px;
  color: hsl(31, 77%, 52%);
  font-family: 'Lexend Deca', sans-serif;

}

.button2 {
  text-align: center;
  border-radius: 12px;;
  width: 140px;
  height: 40px;
  color: hsl(184, 100%, 22%);
  font-family: 'Lexend Deca', sans-serif;
}

.button3 {
  text-align: center;
  border-radius: 12px;;
  width: 140px;
  height: 40px;
  color: hsl(179, 100%, 13%);
  font-family: 'Lexend Deca', sans-serif;
};

.footer {
  text-align: center;
  padding: auto;
  margin:auto;
}
